.nav-wrapper {
  background-color: #0b0c1085;
}
.navName {
  float: left;
}
header {
    background: url("../img/studentAvatar.jpg");
    background-size: cover;
    background-position: center;
    min-height: 1000px;
    color: red;
}
body {
  background-color: black;
}
h2 {
  text-align: center;
}
hr {
  background-color: white;
}
#image {
  height: 3rem;
  width: 3rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
}
.right {
  margin-right: 1rem;
}
.animatedParent {
  justify-content: center;
    text-align: center;
}
/* add a media query for when the page is seen on smaller screens */
@media screen and (max-width: 670px){
  header{
    min-height: 500px;
  }
}
@keyframes animated {
  20%, 100% {
    opacity: 0;
    transform: translate(200px, 0);
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}
.section{
  padding-top: 4vw;
  padding-bottom: 4vw;
}
.parallax-container {
  height: 200px;
  background-size: cover;
}
#contact {
  text-align: center;
}
.tabs .indicator {
  background-color: #1a237e;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
  background: transparent;
}
#socialLinks {
  float: right;
  padding: 40 px 5px 40px 0px;
}
.social {
  font-size: 30px;
}


* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}